---
import Carousel from "../components/Carousel.astro";
import Catalog from "../components/Catalog.astro";
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Venta en línea">
  <div class="pt-16">
    <Carousel />
  </div>
  <div class="pt-16">
    <Catalog />
  </div>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
  <div class="grid grid-cols-2">
    <Contact />
  </div>
</Layout>
